header{
    display: flex;
    flex-direction: row;
    padding: 10px 30px;
    
    h1{
        width: 60%;
        text-align: center;
    }

    h2, .name-settings{
        width: 20%;
    }

    .name-settings{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        p{
            margin: auto 0;
            margin-right: 15px;
        }

        img{
            width: 30px;
            height: 30px;
            margin: auto 0;
        }
    }
}