.login{
    width: 400px;
    margin: auto;
    border: 1px solid black;
    padding: 20px;

    h1,h4{
        text-align: center;
    }

    form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 30px;
        width: 50%;

        label{
            width: 100%;

            input{
                width: 100%;
                margin: 0;
            }
        }

        input[type="submit"]{
            width: 50%;
            margin: auto;
            margin-top: 15px;
        }

        .errorLogin{
            text-align: center;
        }

        .pass{
            display: none;
        }

        .active{
            color: red;
        }
    }
}